.images{
    width: 12rem;
    height: 12rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6BD877;
    border-radius: 5px;
    margin: 5px;
}
img{
    width: 11rem;
    height: 11rem;
    border-radius: 5px;
}